extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/13.png', width='200')
		h2 Welcome
		hr
		p <strong>Advanced Database Technology  Report & Marking System </strong>
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone/signin').btn.btn-lg.btn-primary Enter
		//- else
		//- 	p
		//- 		a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
		//- 		|  to use the Admin UI.
		//- hr
		//- p Remember to 
